In [1]:
import os
import numpy as np
import talib as ta
import pandas as pd
import matplotlib.pyplot as plt
from tqdm import tqdm

In [2]:
path = "Z:\data\BTCUSDT\BTCUSDT-1h"

In [3]:
filelist = os.listdir(path)
filelist.sort()  # 对文件名字进行排序
df = pd.DataFrame()
for file in tqdm(filelist[-300:]):
    df0 = pd.read_csv(os.path.join(path, file))
    df = pd.concat([df, df0], ignore_index=True)

100%|██████████| 300/300 [00:05<00:00, 58.17it/s]

In [31]:
df1 = df[['open_time', 'open', 'high', 'low', 'close', 'volume']]
df1.columns = ['t', 'o', 'h', 'l', 'c', 'v']
df1 = df1.dropna()

In [32]:
def get_ao(df, short_length=5, long_length=34):
    df = df.copy()
    df['midprice'] = (df['h'] + df['l']) / 2
    # 再计算AO值
    df['g1.AO'] = df['midprice'].rolling(5).mean() - df['midprice'].rolling(34).mean()
    return df['g1.AO']

In [33]:
df1['gi.AO'] = get_ao(df1)
df1=df1[33:]
df1

                  t        o        h        l        c          v       gi.AO
33    1671094800000  17621.4  17693.0  17608.0  17691.9  12368.671 -135.430588
34    1671098400000  17691.9  17692.5  17641.0  17658.5   9488.489 -141.275588
35    1671102000000  17658.6  17716.6  17643.2  17712.1  13749.781 -146.560294
36    1671105600000  17712.1  17714.6  17652.3  17674.7  12819.927 -148.127059
37    1671109200000  17674.7  17681.7  17446.0  17497.8  69117.552 -160.337941
...             ...      ...      ...      ...      ...        ...         ...
7195  1696878000000  27555.0  27632.4  27526.3  27607.6   8683.886 -244.025588
7196  1696881600000  27607.7  27644.0  27542.9  27556.2   4995.344 -212.653529
7197  1696885200000  27556.1  27627.2  27542.3  27607.4   3540.588 -167.952353
7198  1696888800000  27607.4  27627.0  27562.0  27575.9   3771.446 -133.679412
7199  1696892400000  27575.9  27605.0  27558.1  27578.3   2906.802 -139.090294

[7167 rows x 7 columns]

In [34]:
df1.to_csv('AOH.csv', index=False)