In [1]:
import os
import pandas as pd
import numpy as np
import talib as ta
import matplotlib.pyplot as plt
from tqdm import tqdm

In [2]:
path = "Z:\data\BTCUSDT\BTCUSDT-1h"

In [3]:
filelist = os.listdir(path)
filelist.sort()
df = pd.DataFrame()
for file in tqdm(filelist[-300:]):
    df0 = pd.read_csv(os.path.join(path, file))
    df = pd.concat([df, df0], ignore_index=True)

100%|██████████| 300/300 [00:01<00:00, 172.18it/s]

In [11]:
df1 = df[['open_time', 'open', 'high', 'low', 'close', 'volume']]
df1.columns = ['t', 'o', 'h', 'l', 'c', 'v']
df1 = df1.dropna()

In [12]:
# 计算Balance of Power
def get_bop(df, length=14):
    df = df.copy()
    df['bop']=(df['c']-df['o'])/(df['h']-df['l']) # (收盘价 - 开盘价) / (最高价 - 最低价)
    df['bop_ma']=df['bop'].rolling(14).mean()
    return df['bop_ma']

In [13]:
df1['g1.BOP']=get_bop(df1)
df1=df1[13:]
df1

                  t        o        h        l        c          v    g1.BOP
13    1671022800000  17910.1  17964.3  17853.8  17889.9  23363.987  0.089936
14    1671026400000  17889.9  18086.8  17889.0  18055.8  55287.673  0.115400
15    1671030000000  18055.8  18111.5  18013.6  18054.8  30987.972  0.150484
16    1671033600000  18054.8  18149.6  18053.1  18096.9  37273.480  0.165913
17    1671037200000  18096.9  18146.6  18069.0  18089.3  16822.793  0.174777
...             ...      ...      ...      ...      ...        ...       ...
7195  1696878000000  27555.0  27632.4  27526.3  27607.6   8683.886 -0.083504
7196  1696881600000  27607.7  27644.0  27542.9  27556.2   4995.344 -0.168670
7197  1696885200000  27556.1  27627.2  27542.3  27607.4   3540.588 -0.062287
7198  1696888800000  27607.4  27627.0  27562.0  27575.9   3771.446 -0.063426
7199  1696892400000  27575.9  27605.0  27558.1  27578.3   2906.802 -0.018763

[7187 rows x 7 columns]

In [14]:
df1.to_csv('BOPH.csv', index=False)